* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

/* COMMON SECTION */
.section {
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HERO */
.hero {
  background: linear-gradient(rgb(188, 122, 122), rgb(146, 77, 77));
}

.hero h1 {
  font-size: 2.5rem;
}

.hero-img {
  width: 420px;
  margin-bottom: 25px;
}

/* MESSAGE & SORRY */
.message,
.sorry {
  background: #7b4545;
}

.section-img {
  width: 600px;
  margin-bottom: 20px;
  opacity: 0.9;
}

/* GALLERY */
.gallery {
  background: #1a0f0f;
}

.gallery h2 {
  margin-bottom: 20px;
}

.gallery .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 700px;
  width: 100%;
}

/* SAME FRAME FOR ALL IMAGES */
.img-frame {
  width: 100%;
  height: 260px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(234, 120, 120, 0.86);
}

.img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FINAL */
.final {
  background: radial-gradient(rgb(162, 90, 90), rgb(144, 77, 77));
}

.final-img {
  width: 400px;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 18px;
  background: crimson;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}
